
.payment-navigation {
  display: flex;
  flex-direction: row; /* Ensure all items are aligned horizontally */
  justify-content: left; /* Optional: To evenly distribute space between items */
  align-items: flex-start; /* Optional: To vertically align items at the start */
  width: 100%;

  .nav-item {
    flex: 1; /* Ensure each item takes equal space */
    padding: 10px; /* Internal padding for each item */
    display: flex;
    flex-direction: row; /* Align image and text horizontally */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border: 1px solid #ccc; /* Thin border */
    margin-bottom: 10px; /* Bottom margin between items */
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    img {
      margin-right: 15px;
      height: 50px;
      width: 50px;
      object-fit: contain;
    }

    span {
      font-size: 15px;
      font-weight: bolder;
      color: black;
    }

    &.active {
      background-color: #dae0e6;
      color: white;
    }
  }

  /* Media Queries to handle layout changes on smaller screens */

  @media (max-width: 1200px) {
    .payment-navigation {
      flex-direction: row; /* Keep the items in a row for larger screens */
    }
  }

  @media (max-width: 992px) {
    .payment-navigation {
      flex-direction: row; /* Still in row on medium screens */
    }
  }

  @media (max-width: 768px) {
    .payment-navigation {
      flex-direction: row; /* Change to column layout for small screens */
    }

    .nav-item {
      flex: 1; /* Ensure each item takes up equal space */
      width: 100%; /* Each item takes full width */
    }

    /* Ensure images are responsive on smaller screens */
    .nav-item img {
      height: 30px;
      width: 30px;
    }
  }

  @media (max-width: 576px) {
    .nav-item {
      flex: 1; /* Ensure each item takes up equal space */
      width: 100%; /* Each item takes full width */
    }
  }
}

