.payment-form-container {
  width: 90%; // Độ rộng 90% của container
  margin: 0 auto; // Căn giữa form
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: #ca0f0f;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .payment-form {
    display: flex;
    flex-direction: column;

    .payment-options-row {
      display: flex;
      justify-content: left;
      margin-bottom: 20px;

      .payment-option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: box-shadow 0.3s ease;

        label {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          font-weight: bolder;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: #555;
          margin-bottom: 10px;

          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-bottom: 10px;
          }
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          font-weight: bolder;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          outline: none;

          &:disabled {
            background-color: #f0f0f0;
            cursor: not-allowed;
          }

          &::placeholder {
            font-style: italic;
            color: #999;
          }
        }
      }

      .payment-option+.payment-option {
        margin-left: 20px; // Khoảng cách giữa các tùy chọn thanh toán
      }
    }
  }

  .update-button {
    background-color: red;
    width: 10%;
    margin-left: 45%;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}


.payment-navigation {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Căn giữa nội dung theo chiều dọc */
    padding: 10px;
    /* Tăng thêm padding để viền không quá sát nội dung */
    border: 2px solid #ddd;
    /* Độ dày viền */
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 10%;
    /* Đảm bảo độ cao full của cột */
    width: 20%;

    &:hover {
      background-color: #edecf5;
      color: white;
    }

    img {
      height: 5%;

      display: block;
      /* hoặc display: inline; */
      visibility: visible;
    }

    span {
      font-size: 15px;
      font-weight: bolder;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: black;
    }

    &.active {
      background-color: rgb(218, 207, 207);
    }
  }

  .row {
    width: 100%;
    /* Đảm bảo hàng chiếm toàn bộ chiều rộng */
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;


  .product-column {
    flex: 1 1 60%;
    /* Đảm bảo cột sản phẩm chiếm 60% không gian */
    min-width: 300px;
    /* Đặt chiều rộng tối thiểu cho cột sản phẩm */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Khoảng cách giữa các thẻ sản phẩm */
    max-height: 500px;
    /* Đặt chiều cao tối đa cho cột sản phẩm */
    overflow-y: auto;
    /* Hiển thị thanh cuộn khi nội dung vượt quá chiều cao */
    position: relative;
    /* Để các nút có thể được đặt cố định ở phía dưới */

    .card-container {
      display: flex;
      background-color: #fff;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      gap: 20px;

      .select-product {
        flex-shrink: 0;
      }

      .image-container {
        width: 80px;
        height: 80px;

        img.food-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;

        .info-row {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            flex-grow: 1;

            .item-container {
              text-align: center;

              .label {
                font-size: 14px;
                font-weight: bold;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-bottom: 5px;
              }

              .item {
                font-size: 16px;
                font-weight: bold;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              }
            }
          }

          .quantity {
            .quantity-control {
              .quantity-buttons {
                display: flex;
                justify-content: center;
                align-items: center;

                .quantity-button {
                  width: 30px;
                  height: 30px;
                  background-color: red;
                  cursor: pointer;
                  color: white;
                  font-size: 18px;
                  font-weight: bolder;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;

                  &:disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                  }
                }

                .quantity-display {
                  margin-left: 15px;

                  .quantity-input {
                    width: 50px;
                    text-align: center;
                    font-weight: bolder;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    border: none;
                  }

                  .quantity-input::-webkit-outer-spin-button,
                  .quantity-input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }

      .delete-icon {
        margin-left: 10px;

        .delete-button {
          background: none;
          border: none;
          cursor: pointer;

          img.delete-icon {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    /* Phần chứa các nút */
    .button-container {
      display: flex;
      justify-content: center;
      /* Căn giữa các nút */
      gap: 20px;
      /* Khoảng cách giữa các nút */
      margin-top: auto;
      /* Đẩy các nút xuống dưới cùng */
      margin-bottom: 0%;
      width: 100%;
      /* Đảm bảo các nút chiếm hết chiều rộng */
    }

    .button-container .btn {
      flex: 1;
      /* Đảm bảo các nút có độ rộng bằng nhau */
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: #0056b3;
      }
    }
  }



  .additional-column {
    flex: 1 1 35%;
    /* Đảm bảo cột phụ chiếm 35% không gian */
    min-width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .order-summary {

      overflow-y: auto;

      .table_order {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;
        }

        .order-item {
          text-align: center;
        }
      }

      .order-total {
        display: flex;
        color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 18px;

        .order-total-amount {
          font-size: 35px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: red;
          margin-right: 80%;
          margin-bottom: 8px;
        }
      }

      .order-button {
        background-color: red;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        width: 95%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        font-size: 16px;

        &:hover {
          background-color:red;
        }
      }
    }
  }

  .sticky-buttons {
  position: sticky;
  bottom: 0;
  /* Đặt nút ở đáy của container */
  /* Màu nền cho nút */
  padding-top: 30px;
  padding-bottom: 15px;
  z-index: 10;
  /* Đảm bảo nút nằm trên các phần tử khác */
  display: flex;
  background-color: white;
  justify-content: center;
  /* Căn giữa hai nút */
  margin-left: -6%;

    .continue-button,
    .update-cart-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: red;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}




.user-profile-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(175, 172, 169);
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: #ca0f0f
  }
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.form-row {
  display: flex;
  gap: 20px;


  &:last-child {
    margin-bottom: 0;
  }
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &.full-width {
    flex-basis: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: 600;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;


    &:focus {
      outline: none;
      border-color: #4a90e2;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }
}

.submit-button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  width: 10%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 45%;
}

// Responsive design
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}








.order-form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #c4baba;
  border-radius: 10px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ca0f0f;
    font-size: 30px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .form-container {
    display: flex;
    justify-content: space-between;

    .customer-info {
      flex: 1;
      margin-right: 20px;

      .input-row {
        display: flex;
        justify-content: space-between;

        .input-group {
          flex: 1;
          margin-right: 10px;
          background-color: white;

          h3 {
            margin-bottom: 30px;
            color: black;
            font-size: 16px;
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }

          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #c4baba;
            border-radius: 5px;
            margin-bottom: 30px;
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }
        }
      }

      .full-width {
        margin-bottom: 15px;

        h3 {
          margin-bottom: 30px;
          color: black;
          font-size: 16px;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #c4baba;
          border-radius: 5px;
        }
      }

      .payment-methods {
        margin-top: 20px;

        h3 {
          margin-bottom: 30px;
          color: black;
          font-size: 16px;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          button {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
            background-color: white;
            border: 1px solid #c4baba;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: red;
              color: #fff;
            }

            &.active {
              background-color: red;
              color: #fff;
            }
          }

          button:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .order-summary1 {
      flex: 1;
      background-color: white;
      padding: 15px;
      border: 1px solid #c4baba;
      border-radius: 10px;

      h3 {
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 40%;
        color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      }

      .order-items {
        max-height: 200px; // Đặt chiều cao cố định cho danh sách sản phẩm
        overflow-y: auto; // Thêm thanh cuộn dọc nếu nội dung quá dài
        margin-bottom: 15px;

        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

          }

          th {
            background-color: #f9f9f9;
          }
        }
      }

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-size: 18px;
          font-weight: bold;
        }

        .checkout-button {
          padding: 10px 20px;
          background-color: red;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
        }
      }
    }
  }
}