.payment-form-container {
  width: 90%; // Độ rộng 90% của container
  margin: 0 auto; // Căn giữa form
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: #ca0f0f;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .payment-form {
    display: flex;
    flex-direction: column;

    .payment-options-row {
      display: flex;
      justify-content: left;
      margin-bottom: 20px;

      .payment-option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: box-shadow 0.3s ease;

        label {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          font-weight: bolder;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: #555;
          margin-bottom: 10px;

          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-bottom: 10px;
          }
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          font-weight: bolder;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          outline: none;

          &:disabled {
            background-color: #f0f0f0;
            cursor: not-allowed;
          }

          &::placeholder {
            font-style: italic;
            color: #999;
          }
        }
      }

      .payment-option+.payment-option {
        margin-left: 20px; // Khoảng cách giữa các tùy chọn thanh toán
      }
    }
  }

  .update-button {
    background-color: red;
    width: 100%;
    /* Cho màn hình nhỏ: nút chiếm toàn bộ chiều rộng của phần tử chứa */
    max-width: 200px;
    /* Giới hạn chiều rộng tối đa */
    margin-left: auto;
    margin-right: auto;
    /* Căn giữa nút khi màn hình nhỏ */
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (min-width: 768px) {


      width: 50%;
      /* Điều chỉnh chiều rộng cho màn hình từ 768px trở lên */
    }

    @media (min-width: 1024px) {
      width: 30%;
      /* Điều chỉnh chiều rộng cho màn hình từ 1024px trở lên */
    }

    @media (min-width: 1200px) {
      width: 10%;
      /* Cho màn hình lớn hơn */
      margin-left: 45%;
      /* Căn chỉnh như yêu cầu ban đầu */
    }
  }

}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  .product-column {
    flex: 1 1 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 400px;
    overflow-y: auto;
    position: relative;

    .card-container {
      display: flex;
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      gap: 20px;

      .select-product {
        flex-shrink: 0;
      }

      .image1-container {
        width: 80px;
        height: 80px;

        img.food-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;

        .info-row {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            flex-grow: 1;

            .item-container {
              text-align: center;

              .label {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
              }

              .item {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }

          .quantity {
            .quantity-control {
              .quantity-buttons {
                display: flex;
                justify-content: center;
                align-items: center;

                .quantity-button {
                  width: 30px;
                  height: 30px;
                  background-color: red;
                  cursor: pointer;
                  color: white;
                  font-size: 18px;
                  font-weight: bolder;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;

                  &:disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                  }
                }

                .quantity-display {
                  margin-left: 15px;

                  .quantity-input {
                    width: 50px;
                    text-align: center;
                    font-weight: bolder;
                    border: none;
                  }

                  .quantity-input::-webkit-outer-spin-button,
                  .quantity-input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }

      .delete-icon {
        margin-left: 10px;

        .delete-button {
          background: none;
          border: none;
          cursor: pointer;

          img.delete-icon {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: auto;
      width: 100%;
    }

    .button-container .btn {
      flex: 1;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .additional-column {
    flex: 1 1 35%;
    min-width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .order-summary {
      overflow-y: auto;

      .table_order {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;
        }
      }

      .order-total {
        display: flex;
        color: red;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 18px;

        h3 {
          font-size: 1.3rem;
          color: red;
          font-weight: bold;
        }

        .order-total-amount {
          font-size: 25px;
          color: red;
          margin-right: 80%;
          margin-bottom: 8px;
        }
      }

      .order-button {
        background-color: red;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        width: 95%;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        font-size: 16px;

        &:hover {
          background-color: red;
        }
      }
    }
  }

  .sticky-buttons {
    position: sticky;
    bottom: 0;
    padding-top: 5px;
    z-index: 10;
    display: flex;
    background-color: white;
    justify-content: center;
    margin-left: -6%;

    .continue-button,
    .update-cart-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: red;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  /* Media queries for responsiveness */
  @media (max-width: 1024px) {

    .product-column,
    .additional-column {
      flex: 1 1 100%;
    }

    .image-container {
      width: 60px;
      height: 60px;
    }

    .details .item {
      font-size: 14px;
    }

    .order-total .order-total-amount {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
    }

    .image-container {
      width: 50px;
      height: 50px;
    }

    .details .item {
      font-size: 13px;
    }

    .quantity .quantity-control {
      flex-direction: column;
    }

    .order-total .order-total-amount {
      font-size: 18px;
    }

    .sticky-buttons {
      flex-direction: column;
    }

    .continue-button,
    .update-cart-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 480px) {

    .product-column,
    .additional-column {
      padding: 10px;
    }

    .card-container {
      padding: 5px;
    }

    .image-container {
      width: 40px;
      height: 40px;
    }

    .details .item {
      font-size: 12px;
    }

    .order-total .order-total-amount {
      font-size: 16px;
    }

    .order-button {
      font-size: 14px;
      padding: 8px 8px;
    }
  }
}





.user-profile-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(175, 172, 169);
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: #ca0f0f
  }
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Cho phép các phần tử con bọc xuống hàng nếu không đủ không gian */

  &:last-child {
    margin-bottom: 0;
  }

  /* Media query cho các màn hình nhỏ hơn 768px */
  @media (max-width: 768px) {
    flex-direction: column; /* Chuyển các phần tử thành cột */
    gap: 15px; /* Giảm khoảng cách giữa các phần tử khi ở chế độ cột */
  }

  /* Media query cho các màn hình từ 768px trở lên */
  @media (min-width: 768px) {
    flex-direction: row; /* Các phần tử trong form-row vẫn là hàng ngang */
    gap: 20px; /* Khoảng cách giữa các phần tử */
  }
}


.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &.full-width {
    flex-basis: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: 600;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;


    &:focus {
      outline: none;
      border-color: #4a90e2;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }
}




.submit-button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  /* Để cho nút chiếm hết chiều rộng của container trên màn hình nhỏ */
  max-width: 200px;
  /* Giới hạn chiều rộng tối đa */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  /* Căn giữa button khi màn hình nhỏ */

  @media (min-width: 768px) {
    width: 50%;
    /* Điều chỉnh chiều rộng cho màn hình từ 768px trở lên */
  }

  @media (min-width: 1024px) {
    width: 30%;
    /* Điều chỉnh chiều rộng cho màn hình từ 1024px trở lên */
  }

  @media (min-width: 1200px) {
    width: 10%;
    /* Giữ nguyên chiều rộng 10% cho màn hình lớn */
    margin-left: 45%;
    /* Căn chỉnh như yêu cầu */
  }
}


.order-form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #c4baba;
  border-radius: 10px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ca0f0f;
    font-size: 30px;
    font-weight: bolder;
  }

  .form-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .customer-info {
      flex: 1;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-right: 20px;
        margin-bottom: 0;
      }

      .input-row {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        .input-group {
          flex: 1;
          margin-bottom: 10px;

          @media (min-width: 768px) {
            margin-right: 10px;
            margin-bottom: 0;
          }

          h3 {
            margin-bottom: 30px;
            color: black;
            font-size: 16px;
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }

          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #c4baba;
            border-radius: 5px;
            margin-bottom: 20px;
          }
        }
      }

      .full-width {
        margin-bottom: 15px;

        h3 {
          margin-bottom: 20px;
          color: black;
          font-size: 16px;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #c4baba;
          border-radius: 5px;
        }
      }

      .payment-methods {
        margin-top: 20px;

        h3 {
          margin-bottom: 30px;
          color: black;
          font-size: 16px;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .buttons {
          display: flex;
          flex-direction: column;

          @media (min-width: 768px) {
            flex-direction: row;
          }

          button {
            flex: 1;
            padding: 15px;
            margin-bottom: 10px;

            @media (min-width: 768px) {
              margin-right: 10px;
              margin-bottom: 0;
            }

            &:hover {
              background-color: red;
              color: #fff;
            }

            &.active {
              background-color: red;
              color: #fff;
            }
          }

          button:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .order-summary1 {
      flex: 1;
      padding: 15px;
      border: 1px solid #c4baba;
      border-radius: 10px;

      h3 {
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: red;
      }

      .order-items {
        max-height: 200px;
        overflow-y: auto;
        margin-bottom: 15px;

        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 10px;
          }

          th {
            background-color: #f9f9f9;
          }
        }
      }

      .total {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
        }

        .price {
          font-size: 20px;
          font-weight: bold;
          color: red;
          margin-top: 10px;
        }

        .checkout-button {
          padding: 10px 35px;
          background-color: red;
          margin-top: 10px;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          align-self: flex-end;

          @media (min-width: 768px) {
            align-self: auto;
          }
        }
      }
    }
  }
}