.k {
  margin-top: 20px; 
}

.p {
  vertical-align: middle; 
}

.table-responsive {
  overflow-x: auto; 
}

.product-image {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Scale the image to fit */
}

.btn {
  margin-top: 20px; 
  display: block; 
  text-align: center; 
}

.image-container {
  width: 100%; 
  height: auto; /* Allow height to adjust based on content */
  display: flex; 
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the top */
  overflow: hidden; /* Ensure any overflow is hidden */
  padding-top: 75px; /* Use padding for top spacing instead of margin on the image */
}

.image-container img {
  width: 100%; /* Make image responsive to fill the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Maintain aspect ratio without cropping */
}

.title {
  text-align: center;
  color: black;
}
