.admin {
  .admin__welcome {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 25px;
    padding: 15px 0px;
    margin: 0px;

    .ant-layout-sider-collapsed & {
      justify-content: center;
      font-size: 14px;
    }
  }

  a {
    font-size: 16px;
  }

  &__sidebar {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 100%;
      transition: width 0.3s ease;

      .ant-layout-sider-collapsed & {
        width: 150px;
      }

      .ant-menu-item,
      .ant-menu-submenu-title {
        display: flex;
        justify-content: center; /* Căn giữa các mục menu theo chiều ngang */
        text-align: center; /* Căn giữa văn bản */
      }
    }
  }

  a {
    text-decoration: none;
  }
}
