.staffpage {
    display: flex;
    background-color: #e6e6e6;
}

.sidenav {
    background: #483434;
    position: relative;
    height: 100vh;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 0 20px;
}

.sidenav.open {
    width: 20% !important;
}

.sidenav.closed {
    width: 85px !important;
    padding: 0 10px !important;
}

ul {
    padding: 0;
    margin-left: -20px;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 12px 10px;
    border-radius: 8px;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}

ul li a:hover,
ul li a:active {
    background-color: #543f3f;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
    margin-top: -5px;
}

.sidenav-bottom {
    margin-top: 450px;
    margin-left: 10px;
}

.sidenav-top {
    margin-left: 10px;
    margin-top: 90px;
}

.toggle-button {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #543f3f;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
}

@media (max-width: 1280px) {
    .sidenav.open .sidenav-top ul li a{
        font-size: 1px;
    }
}