.stafftable {
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    margin: 0 40px;
    margin-top: 20px;
}

.stafftable-actions {
    display: flex;
    justify-content: space-between;
}

.add-staff-btn {
    width: 25%;
    background: #483434;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.add-staff-btn:hover{
    background: #543f3f;
}

.add-staff-btn a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.stafftable-top h1 {
    font-weight: 400;
}

.search-bar-staff {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.search-bar-staff input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #e0e0e0;
}

.search-bar-staff button {
    margin-left: -12px;
    width: 5%;
    padding: 10px;
    background-color: #483434;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-bar-staff button:hover{
    background: #543f3f;
}

.stafftable-table-section {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    background: #fff;
    margin-top: 20px;
}

.stafftable-thead-section {
    background-color: #f2f2f2;
}

.producttable-first-row,
.stafftable-second-row {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stafftable-second-row {
    padding: 4px 0 4px 10px;
}

.producttable-first-row {
    background-color: #483434;
    color: white;
    padding: 13px 0 13px 10px;
}

.delete-btn,
.edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}


.delete-btn:hover,
.edit-btn:hover{
    background: #e0e0e0;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.edit-btn {
    color: #4CAF50;
    font-size: 25px;
}

.delete-btn {
    color: #ff0000;
    font-size: 25px;
}

.confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Higher z-index */
}

.confirm-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.confirm-modal-actions {
    margin-top: 15px;
}

.confirm-modal-actions .confirm-btn,
.confirm-modal-actions .cancel-btn {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.confirm-btn:hover,
.cancel-btn:hover {
    background: #483434;
    color: #fff;
}

.details-modal{
    display: flex;
    flex-direction: column;
}

.details-modal,
.confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-modal-content,
.confirm-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    width: 50%;
    text-align: center;
}

.details-modal-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 20px;
    box-sizing: border-box;
    text-align: left;
    padding: 20px;
    height: 30%;
}

.details-modal-content div{
    display: flex;
    flex-direction: column;
}

.name-btn{
    cursor: pointer;
}

.tabbar1 {
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    background: #483434;
    padding: -10px -10px;
    color: #fff;
    height: 40px;
    width: 50%;
}

.tabbar1 h3 {
    font-size: 14px;
    margin: 13px 20px;
}

.close1{
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    display: flex;
    right: 400px;
    margin-top: 2px;
}

.detail-left,
.detail-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.modal-buttons1{
    background-color: #fff;
    margin-top: -35px;
    padding-bottom: 15px;
    width: 50%;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-evenly;
}

.modal-buttons1 button {
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #483434;
    color: white;
}

.modal-buttons1 button:hover {
    background-color: #624848;
}

.edit-button1 a{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 1280px) {
    .stafftable {
        width: 80%;
    }
    .search-bar-staff button{
        width: 6%;
    }
    .add-staff-btn{
        width: 30%;
    }
    .add-staff-btn a{
        font-size: 13px;
        align-items: center;
        margin-top: 10px;
    }
    .producttable-first-row, .stafftable-second-row{
        font-size: 15px;
    }
    .edit-btn,
    .delete-btn{
        font-size: 19px;
    }
}

@media (max-width: 1024px) {
    .stafftable {
        width: 80%;
    }
    .search-bar-staff button{
        width: 12%;
    }
    .search-bar-staff input{
        width: 200px;
    }
    .add-staff-btn{
        width: 40%;
    }
    .add-staff-btn a{
        font-size: 13px;
        align-items: center;
        margin-top: 10px;
    }
    .producttable-first-row, .stafftable-second-row{
        font-size: 12px;
    }
    .edit-btn,
    .delete-btn{
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .stafftable {
        width: 80%;
    }
    .search-bar-staff button{
        width: 2%;
        margin-right: 150px;
    }
    .search-bar-staff input{
        width: 200px;
    }
    .add-staff-btn{
        margin-left: -100px;
        width: 50%;
    }
    .add-staff-btn a{
        font-size: 13px;
        align-items: center;
        margin-top: 10px;
    }
    .producttable-first-row, .stafftable-second-row{
        font-size: 15px;
    }
    .edit-btn,
    .delete-btn{
        font-size: 19px;
    }
}

@media (max-width: 640px) {
    .stafftable-table {
        width: 30%;
    }
    .stafftable-table-section{
        width: 10%;
    }
    .search-bar-staff button{
        width: 10%;
    }
}
